.Create {
  background-color: #e22e;
}

.button {
  display: block;
  width: 100%;
}

.text {
  margin-bottom: 25px;
}

/* .pad {
    padding: 50px;
  } */

.box {
  padding: 50px;
}

.body {
  background-color: #e22e;
}
